<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/normalize.css" />
    <link rel="stylesheet" href="../public/skeleton.css" />
    <style>
        .greenIncome {
            background-color: lightgreen;
        }
        .redExpense {
            background-color: #ff7f7f;
        }
    </style>
    <title>Budget Default</title>
  </head>
  <body>
    <nav>
      <a href="http://localhost:3000/budget/new"><button>Create a New Transaction</a></button>
    </nav>
    <%  let incomeValue = 0; let expenseValue= 0; let bankAccount = 0; for (var a = 0; a < budget.length; a++) {if (budget[a].amount >= 0) {incomeValue += parseInt(budget[a].amount)} else {expenseValue += Math.abs(parseInt(budget[a].amount))}}; bankAccount = (incomeValue - expenseValue); console.log(expenseValue);console.log(incomeValue);console.log(bankAccount) %>
    <h3>Your active account balance is: $<%= bankAccount%></h3>
    <h1>Your Transactions:</h1>
    <div class="container">
      <h3>Income:</h3>
      <h5>Your total income is: $<%= incomeValue%></h5>
      <table>
        <% for (let i = 0; i < budget.length; i++) {%> <% if (budget[i].amount > 0){  if (budget[i].amount >= 1000){%>
        <tr>
          <td>
            <a href="http://localhost:3000/budget/<%= i%>"
              ><%= budget[i].name%> </a>
          </td>
          <td>
              <%= budget[i].date%>
          </td>
          <td>
              <%= budget[i].from%>
          </td>
          <td class="greenIncome">
              <%= budget[i].amount%>
          </td>
          <td>
              <%= budget[i].tags%>
          </td>
        </tr>
        <% } else { %>
        <tr>
          <td>
            <a href="http://localhost:3000/budget/<%= i%>"
              ><%= budget[i].name%> </a>
          </td>
          <td>
              <%= budget[i].date%>
          </td>
          <td>
              <%= budget[i].from%>
          </td>
          <td>
              <%= budget[i].amount%>
          </td>
          <td>
              <%= budget[i].tags%>
          </td>
        </tr>
        <% }}} %>
      </table>
    </div>
    <div class="container">
      <h3>Expense:</h3>
      <h5>Your total expenses are: $<%= expenseValue%></h5>
      <table>
        <% for (let i = 0; i < budget.length; i++) {%> <% if (budget[i].amount <= 0){ %>
        <tr>
         <td>
            <a href="http://localhost:3000/budget/<%= i%>"
              ><%= budget[i].name%> </a>
          </td>
          <td>
              <%= budget[i].date%>
          </td>
          <td>
              <%= budget[i].from%>
          </td>
          <td class="redExpense">
              <%= budget[i].amount%>
          </td>
          <td>
              <%= budget[i].tags%>
          </td>
        </tr>
        <% }} %>
      </table>
    </div>
  </body>
</html>
